.pleasure {
  display: flex;
  flex-direction: row;
  grid-area: pleasure;
  margin-bottom: 60px;

  h1 {
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: var(--text-primary);
  }

  h3 {
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      color: var(--text-secondary);
  }

  .photo {
    border-radius: 25px 60px;
    box-shadow: 4px 8px 4px rgba($color: #3c3b3b75, $alpha: 1.0);
  }
}
