.pleasure {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  grid-area: pleasure;

  margin: 16px;
  margin-bottom: 40px;

  h1 {
    display: flex;
    font-weight: 375;
    font-size: 28px;
    line-height: 37px;
    margin-top: 20px;
    color: var(--text-secondary);
  }

  h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: var(--text-secondary);
  }

  hr {
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .pleasure {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    grid-area: pleasure;

    margin: 15px;

    h1 {
      display: flex;
      font-weight: 350;
      font-size: 16px;
      line-height: 15px;
      margin-top: 20px;
      color: var(--text-primary);
    }

    h3 {
      display: flex;
      align-items: center;
      justify-content: center;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      color: var(--text-secondary);
    }

    hr {
      margin-top: 10px;
    }
  }
}
