.about {
  display: flex;
  justify-content: center;
  align-items: center;

  grid-area: about;
  gap: 24px;

  background-color: var(--bg-secondary);
  margin: 15px;
}

@media (max-width: 768px) {
  .about {
    grid-area: aboutme;
    background-color: var(--bg-secondary);
  }
}
