.works {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  grid-area: works;
  margin-left: 15px;
  margin-right: 15px;
  background-color: var(--bg-secondary);

  h1 {
    margin-top: 20px;
    color: var(--text-primary);
  }

  .work-item {
    height: 50vh;
    width: 50%;
    height: auto;
    width: 100%;

    h2 {
      color: var(--text-primary);
    }

    h3 {
      color: var(--text-secondary);
    }

    .work-content {
      display: flex;
      align-items: center;
      flex-direction: row;
      width: 100%;

      .text-content {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        max-width: 90%;

        p {
          overflow: hidden;
          color: var(--text-secondary);
          font-size: 1.5rem;
          font-weight: 300;
          max-width: 100%;
        }

        .button-content {
          display: flex;
          gap: 10px;

          button {
            background-color: #669bbc;
            color: white;
            padding: 5px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
              background-color: #1c567b;
            }
          }

          a {
            text-decoration: none;
            color: inherit;
          }
        }
      }

      .image-content > img {
        width: 100%;
        max-width: 100%;
        height: auto;
      }
    }
  }
}

@media (max-width: 768px) {
  .works {
    margin-left: 5px;
    margin-right: 5px;

    h1 {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      color: var(--text-primary);
    }

    h2 {
      color: var(--text-primary);
    }

    .work-item {
      display: flex;
      flex-direction: column;
      height: auto;
      margin-bottom: 10px;

      .work-content {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .text-content {
          p {
            color: var(--text-secondary);
            font-size: 1.5rem;
          }

          a {
            text-decoration: none;
            color: inherit;
          }
        }
      }

      .image-content > img {
        height: auto;
      }
    }
  }
}
