.contact {
  display: flex;
  justify-content: center;
  flex-direction: row;

  a {
    height: 50px;
    width: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .contact {
    display: flex;
    flex-direction: row;
    gap: 24px;
  
    a {
      height: 35px;
      width: 35px;
  
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }
}
