:root {
  --text-primary: #F5CB5C;
  --text-secondary: #CFDBD5;
  --bg-primary: #242423;
  --bg-secondary: #2526248b;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-size: 100% 100%;
  background-position: center;
  background-image: url('./components/images/background.jpeg');

  margin: 0;
  height: 100vh;
  // overflow: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #F5CB5C;
  border-radius: 10px;
}

@media (max-width: 768px) {
  body {
    margin: 5px;
  }
}