:root {
  --text-primary: #e5e5e5;
  --text-secondary: #e5e5e5;
  --bg-primary: #000000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-primary);
  background-image: linear-gradient(to bottom, #040404, #080808, #111111);
  margin: 50px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #ccff33;
  border-radius: 10px;
}

@media (max-width: 768px) {
  body {
    margin: 5px;
  }
}